@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container text-left">
        <span class="text-muted">Made with &lt;3 by v0idMrK!</span>
    </div>
</footer>
